@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* overflow-x: hidden; */
}
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}
@media (max-width: 40.6em) {
  html {
    /* 7px / 16px = 0.43 = 43% */
    font-size: 43%;
  }
}
@media (max-width: 28.12em) {
  html {
    /* 6px / 16px = 0.375 = 37.5% */
    font-size: 37.5%;
  }
}

body {
  background-image: linear-gradient(rgba(2, 31, 32, 0.2), rgba(2, 31, 32, 0.2)),
    url(img.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* overflow-x: hidden; */
}

#h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 8rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
  border-radius: 9px;
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.1);
}

#display {
  /* font-family: monospace;
  font-size: 5rem; */
  font-size: 3.5rem;
  font-weight: bold;
  color: inherit;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 2.5rem;
}

#controls button {
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 6px;
  color: inherit;
  cursor: pointer;
  /* transition: all 0.3s; */
  transition: background-color 0.5s ease;
}
@media (max-width: 40.6em) {
  #controls button {
    padding: 1.2rem 2.2rem;
  }
}

#btn-start {
  background-color: rgba(70, 230, 70, 0.5);
}
#btn-start:hover {
  background-color: rgba(70, 230, 70, 0.4);
}

#btn-stop {
  background-color: rgba(230, 70, 70, 0.8);
}
#btn-stop:hover {
  background-color: rgba(175, 53, 53, 0.6);
}

#btn-reset {
  background-color: rgba(70, 225, 230, 0.6);
}
#btn-reset:hover {
  /* background-color: rgba(70, 225, 230, 0.5); */
  background: linear-gradient(rgba(2, 31, 32, 0.2), rgba(2, 31, 32, 0.2));
}
